html, body {
  height: 100%;
}

#duotone {
  background: url('https://jmperezperez.com/assets/images/posts/fecolormatrix-kanye-west.jpg') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#duotone::before {
  background-color: rgb(240, 14, 46);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  mix-blend-mode: darken;
  position: absolute;
  top: 0;
  left: 0;
}

#duotone::after {
  background-color: rgb(25, 37, 80);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
  position: absolute;
  top: 0;
  left: 0;
}
